# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Environments
.env
.venv
env/
venv/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/
